<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <!--<img src="../../../assets/perfilPhoto.jpg" 
       class="img-fluid">  -->
       <img rc="../../../assets/perfilPhoto.jpg" class="" alt="Cinque Terre">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p> Sergio Gonzalez</p>
        <p> Full Stack Development Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1> Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. At earum nulla obcaecati eum dicta sequi. Ducimus animi asperiores laborum, reprehenderit perferendis aut sint nesciunt odit officiis perspiciatis, corporis harum at.        
            </p>
        </span>
    </div>
</div>